Banking-Analytics/
Bancolombia/Fase 2/Analisis Inferencial/student_performance_data.csv
Bancolombia/Fase 2/Introduccion al Machine Learning/student_performance_data.csv
Bancolombia/Fase 2/Introduccion al Machine Learning/bank.csv
Bancolombia/Fase 3/Data Warehouse/FactVentas_export.csv
Bancolombia/Fase 3/ETL/clean_clients.csv
Bancolombia/Fase 3/ETL/clients_fixed.csv
Bancolombia/Fase 3/ETL/clients.csv
Bancolombia/Fase 3/ETL/clients.xlsx
Bancolombia/Fase 3/ETL/sales.csv
